@import "conifg";
//数据筛选
.filtrate{
    padding: 12px 12px 2px 12px;
    border: 1px solid $borcolor;
    margin-bottom: 15px;
    .hd{
        border-bottom: 1px solid $borcolor;
        padding-bottom: 12px;
        .pull-left{
            width: 450px;
            .glyphicon{
                width: 14px;
            }
        }
        .pull-right{
            a{
                display: inline-block;
                margin-top: 8px;
                margin-right: 5px;
                font-size: 12px;
                span{
                    margin-right: 3px;
                    font-size: 15px;
                }
            }
        }
    }
    .bd{
        padding: 10px 0;
        .item{
            padding: 5px;
            font-size: 12px;
            line-height: 20px;
            & a,
            & label{
                display: inline-block;
            }
            & a{
                position: relative;
                padding: 0 8px;
                border-radius: 3px;
                margin-right: 6px;
                @include transition;
                @include text-decoration;
                &:hover{
                    background-color: #e5e5e5;
                }
                &.active{
                    background-color: $color-g;
                    color: #fff;
                }
            }
            & label{
                width: 78px;
                color: #888;
                text-align: right;
                font-weight: normal;
                margin: 0;
            }
        }
    }
    &.fold .hd{
        border: none;
    }
    &.fold .bd{
        display: none;
    }
}

.table-wrap{
    .table{
        tbody{
            td{
                font-size: 13px;
                .table-p{

                    margin: 0;
                }
                vertical-align: middle;
            }
        }
    }
}